{% extends "base_generic.html" %}

{% block content %}
    <h1>Список книг в БД</h1>
    {% if book_title %}
        <ul>
            {% for book in book_title %}
                <li>
                    <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a>
                    <strong>Автор</strong>: {{ book.display_author }} <strong>Жанр</strong>: {{ book.genre }}
                    <a href="/book/update/{{ book.id }}">Изменить</a> ,
                    <a href="/book/delete/{{ book.id }}">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В базе данных нет книг</p>
    {% endif %}
{% endblock %}